config.log
cmake_install.cmake
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
Makefile
CMakeFiles
CTestTestfile.cmake
_CPack_Packages
.sconf_temp
.sconsign.dblite
bin
lib
libs/numpy/example/dtype
libs/numpy/example/fromdata
libs/numpy/example/ndarray
libs/numpy/example/simple
libs/numpy/example/ufunc
libs/numpy/example/wrap
build
build-vc90
build-vc100
boost-numpy-*-Linux.deb
boost.numpy-*-Linux.sh
install_manifest.txt
*.os
*.succeeded
*~
\#*\#
