config.log
cmake_install.cmake
CMakeCache.txt
Makefile
CMakeFiles
CTestTestFile.cmake
.sconf_temp
.sconsign.dblite
bin
libs
libs/numpy/example/dtype
libs/numpy/example/fromdata
libs/numpy/example/ndarray
libs/numpy/example/simple
libs/numpy/example/ufunc
libs/numpy/example/wrap
build
build-vc90
build-vc100
*.os
*.succeeded
*~
\#*\#
